*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board{
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 1px solid black;
    gap: 4px;
    padding: 4px;
    background-color: blue;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8rem;
    border: 1px solid red;
    background-color: rgb(255, 0, 43);
    cursor: pointer;
}

.message{
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color: black;
}